/vifm/.config/vifm/vifminfo
/vifm/.config/vifm/vifminfo.json
/alacritty/.config/alacritty/alacritty.yml
/nvim/.config/nvim/**
!/nvim/.config/nvim/init.vim

/firefox/.mozilla/firefox/x9mibn2c.default-release/*
!/firefox/.mozilla/firefox/x9mibn2c.default-release/extensions.json
!/firefox/.mozilla/firefox/x9mibn2c.default-release/extensions
!/firefox/.mozilla/firefox/x9mibn2c.default-release/extension-settings.json
!/firefox/.mozilla/firefox/x9mibn2c.default-release/extension-preferences.json
!/firefox/.mozilla/firefox/x9mibn2c.default-release/prefs.js

alacritty/.config/alacritty/alacritty.yml
